body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fefefe;
}

.todo {
    display: flex;
    flex-direction: column;
    flex: 1;
}


/************************Header******************************/
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(234, 207, 199);
    padding: 20px;
    position: relative;
}

.caja1 {  
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: rgb(234, 207, 199);
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; /*Centrar los elementos*/
}

#LogoDepi {
    max-width: 150px;
    height: auto;
    border-radius: 55%;
    transition: transform 0.2s, box-shadow 0.2s; 
    margin-left: 1px;
}

#LogoDepi:hover{
    transform: translateY(-3px); /* Efecto flotante */
    box-shadow: 0px 12px 30px rgba(173, 132, 184, 1);
}

h1 { 
    text-align: center;
    flex-grow: 1; /* Ocupa espacio en el centro */
    font-style: italic;
    font-size: 80px;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra al texto */
}

.iconInsta {
    font-size: 70px;
    color: black;
    transition: transform 0.2s; 
    margin-right: 1px;
}

.iconInsta:hover{
    transform: translateY(-3px); /* Efecto flotante */
}

/*Barra de navegacion (Nav)*/
nav {
    display: flex;
    gap: 10px;
    justify-content: center; 
    align-items: center; 
    padding: 0;
    margin: 10px;
}

nav a {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 130px; /* Tamaño de los cuadritos del nav */
    height: 90px;
    border-radius: 30px;
    color: #140101;
    font-size: 20px; 
    font-weight: bold; /* Negrita */
    text-decoration: none; /* Elimina el subrayado */
    cursor: pointer;
    transition: all 0.3s ease; /* Transición suave */
    text-align: center;
    transform: translateY(-3px); /* Efecto flotante */
}

nav a.pagAct{/*Para que cuando se este en una pagna, el color sea difernte en el nav y mejorar la ubicacion del usuario*/
    color: #9c0000;
}

nav a:hover {
    transform: scale(1.2); /* Agranda el botón */
    background: #eccdd6;
    box-shadow: 0 6px 10px white;
    z-index: 1; 
}

nav a:not(:hover) {
    filter: brightness(0.7); /* Reduce el brillo */
    transform: scale(0.9); /* Reduce el tamaño */
    opacity: 0.6; /* Añade transparencia */
}

/*******************************************************************************Main*******************************************************************/
main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.contenedor-imagenes {
    display: flex;
    justify-content: center; /* Alinea las imágenes al centro de la fila */
    gap: 0px; /* Elimina el espacio entre las imágenes */
    width: 100%; /* Ocupa todo el ancho disponible */
    margin: 0 auto; /* Centra el contenedor en la página */
    overflow: hidden; /* Evita desbordamientos */
}

.imagen {
    position: relative; /*Ninguna imagen se pone una encima de otra*/
    overflow: hidden;
    width: 350px; /* Ancho inicial reducido */
    height: 400px; /* Altura fija inicial */
    transition: width 0.5s ease, height 0.5s ease; /* Suaviza el cambio de tamaño */
    flex-shrink: 0; /* Previene que las imágenes se redimensionen automáticamente */
}

.imagen:hover {
    width: 300px; /* Expande el ancho al hacer hover */
}

/* Estilo de las imágenes */
.imagen img {
    width: 100%;
    height: 120%;
    object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: scale(1); /* Sin zoom inicialmente */
}

.imagen:hover img {
    transform: scale(1.1); /* Efecto de zoom */
    opacity: 0.8; /* Reduce ligeramente la opacidad */
}

.titulo-superior {
    position: absolute;
    top: 170px; /* Ajusta la posición según sea necesario */
    left: 40px;
    color: #f1f1f1;
    font-size: 1.5em;
    transform: rotate(-90deg); /* Inicialmente en posición vertical */
    transform-origin:top left ; /* Origen de rotación ajustado */
    transition: transform 0.5s ease,left 0.5s ease, top 0.5s ease; /* Transición para la rotación */
    font-size: 1.5rem;
    padding: 5px 10px;
    z-index: 2;
}

.imagen:hover .titulo-superior {
    transform: rotate(0deg); /* Cambia a posición horizontal */
    left: 50%;
    top: 15%;
    transform-origin: center;
}

.texto-desplegable {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f8f7f7;
    font-size: 1em;
    text-align: center;
    opacity: 0; /* Oculto inicialmente */
    transition: opacity 0.5s ease; /* Transición suave */
    bottom:0;
  
}

.imagen:hover .texto-desplegable {
    opacity: 1;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinear los elementos hacia la izquierda */
    gap: 20px;
    margin: 10px auto;
    max-width: 1200px; 
    transition: transform 0.2s, box-shadow 0.2s; 
}

.flex-container:hover{
    transform: translateY(-3px); /* Efecto flotante */
    box-shadow: 0px 12px 30px rgba(173, 132, 184, 1);
}

/************************Divs de cada pagina******************************/
.divNosotras {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.divCejas{
    background-color: rgb(234, 207, 199);
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 40px;
    width: 400px;

}

.imagenCejas{
    width: 400px;
    height: auto;
    flex-shrink: 0;
    border-radius: 8px;
    margin-right: 80px; /* Espaciado entre la imagen y el texto */
}

.divDepilacion{
    background-color: rgb(234, 207, 199);
    flex: 1;
    padding: 30px;
    border-radius: 11px;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 40px;
    width: 600px;
}

.videoDepilacion{
    width: 450px;
    height: auto;
    flex-shrink: 0;
    border-radius: 8px;
    margin-right: 80px; /* Espaciado entre la imagen y el texto */
}

.divPestañas{
    background-color: rgb(234, 207, 199);
    flex: 1;
    padding: 30px;
    border-radius: 11px;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 35px;
    width: 600px;

}

.imagenPestañas{
    width: 350px;
    height: auto;
    flex-shrink: 0;
    border-radius: 8px;
    margin-right: 55px; /* Espaciado entre la imagen y el texto */
}

.divMicropigmentacion{
    background-color: rgb(234, 207, 199);
    flex: 1;
    padding: 30px;
    border-radius: 11px;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 35px;
    width: 400px;

}

.imagenMicropigmentacion{
    width: 350px;
    height: auto;
    flex-shrink: 0;
    border-radius: 8px;
    margin-right: 80px; /* Espaciado entre la imagen y el texto */
}

.divMaquillaje{
    background-color: rgb(234, 207, 199);
    flex: 1;
    padding: 30px;
    border-radius: 11px;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 35px;
    width: 400px;
}

.imagenMaquillaje{
    width: 450px;
    height: auto;
    flex-shrink: 0;
    border-radius: 8px;
    margin-right: 80px; 
}

.divcabello{
    background-color: rgb(234, 207, 199);
    flex: 1;
    padding: 30px;
    border-radius: 11px;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 40px;
    width: 400px;
}

.imagenCabello{
    width: 350px;
    height: auto;
    flex-shrink: 0;
    border-radius: 8px;
    margin-right: 80px; /* Espaciado entre la imagen y el texto */
}

.videoCabello{
    width: 350px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 8px;
    margin-right: 80px; /* Espaciado entre la imagen y el texto */

}

.divUñas{
    background-color: rgb(234, 207, 199);
    flex: 1;
    padding: 20px;
    border-radius: 11px;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 23px;
    width: 600px;
}

.imagenUnias2{
    width: 400px;
    height: auto;
    flex-shrink: 0;
    border-radius: 8px;
    margin-right: 10px; 
    margin-left: 10px; 
    align-items: right;
}

.videoUñas{
    width: 350px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 8px;
    margin-right: 60px; 
}

/************************Footer style******************************/
footer {
    text-align: center;
    background-color: rgb(234, 207, 199);
    padding: 10px;
    font-size: 14px;
}

/************************Responsive styles******************************/
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column; /* Apila los elementos */
        text-align: center;
    }

    .imagenIndex {
        max-width: 100%;
    }

    h1 {
        font-size: 1.8rem;
    }

    nav a {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    nav a {
        font-size: 12px;
    }

    .divNosotras {
        font-size: 16px;
    }
}
